[Desktop Entry]
Name=Walltz
Name[ru]=Walltz
Comment=Turn oddly-sized wallpapers into works of art
Comment[ru]=Превратите изображения неподходящего размера в произведение искусства
Exec=walltz
Icon=walltz
Type=Application
Terminal=false
Categories=Graphics;Qt;KDE;
X-KDE-GettextPropertyDomain=walltz
